main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 100vh;
    width: 100%;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1C5BAE;
}

.table {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
    overflow: scroll;
}

.table th {
    background-color: #4FDFC9;
    color: #1d1d1d;
    padding: 10px;
    text-decoration: underline;
}

.table td {
    text-align: center;
    width: 150px;
    background-color: #d1d1d1;
    color: #252525;
    padding: 10px;
}

td>a {
    color: #1d1d1d;
}

td>a:hover {
    font-weight: bold;
}

td>label {
    cursor: pointer;
    text-decoration: underline;
}

td>label:hover {
    font-weight: bold;
}