.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.logo {
    height: 30px;
    cursor: pointer;
}

.icon {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main>div {
    height: 80vh !important
}

@media screen and ( max-width: 535px) {
    main>div {
        height: auto !important;
    }
}
